body {
    font-family: Arial;
    color: #fff;
    background-color: #030;
}
  
p, div, span {
    font-family: Arial;
    font-size: 14px;
}
  
td.data {
    text-align: right;
    width: 60px;
    background-color: #333;
}

input {
    width: 50px;
}

input.handsText {
    width: 100px;
}

input[type=button] {
    width: 150px;
}

.positive {
    color: #0c0;
}
.negative {
    color: #c00;
}