body {
    font-family: Arial;
    color: #fff;
    background-color: #161;
}
  
p, div, span {
    font-family: Arial;
    font-size: 14px;
}

a {
    color: #ccc;
}

td {
    padding: 2px;
    color: #333;
}
  
td.data {
    text-align: right;
    width: 60px;
}

.disclaimer {
    color: #999;
    font-size: 12px;
}
.disclaimer-column {
    width: 300px;
}
.elapsed-time-column {
    width: 300px;
}

.instruction-copy {
    color: #ccc;
    font-size: 12px;
}

.footer {
    width: 600px;
}

.table-header {
    color: #fff;
    font-weight: bold;
}

.elapsed-time {
    color: #ccc;
}

.input-copy {
    color: #ccc;
}

.split-view-table {
    vertical-align: top;
}

.banker {
    background-color: #fce2df;
}

.player {
    background-color: #e3f0fe;
}

.tie {
    background-color: #e6f4e1;
}

.neutral {
    background-color: #eee;
}

input {
    width: 60px;
}

input.handsText {
    width: 100px;
}

input[type=button] {
    width: 150px;
}

.positive {
    color: #090;
}
.negative {
    color: #900;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
    background: rgba(64,64,64,0.8) url("/assets/img/loading.gif") center no-repeat;
}